{% extends "base.html" %}
{% block content %}
{% load humanize %}
{% include "partials/navbar.html" %}

<div class="flex min-h-screen bg-base-200">
    {% include "partials/sidebar.html" %}

    <div id="page-content"
         class="px-4 py-2 w-full overflow-x-auto transition-all duration-300 lg:ml-64 ml-0">

        <h2 class="text-2xl font-bold mb-4">PayGo Tracking</h2>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-4">

            <!-- EXISTING STATUS CARDS -->
            {% for key, val in stats.items %}
            <div class="card bg-green-50 shadow border-2 border-green-200 hover:bg-green-100">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex justify-between items-center">
                        <div class="flex"><i class="fa-solid fa-circle-info cursor-pointer text-success text-lg mr-2" title="This represents the number of devices whose payments are {{ key }}."></i><p class="text-sm uppercase text-gray-400">{{ key }}</p></div>
                        <div class="flex p-2 items-center justify-center rounded-full bg-green-100">
                            <i class="fa-solid 
                                {% if key == 'Fully Paid' %} fa-clipboard-check 
                                {% elif key == 'At Risk' %} fa-triangle-exclamation 
                                {% elif key == 'On Track' %} fa-hourglass-half 
                                {% else %} fa-ban 
                                {% endif %}  
                                text-2xl text-green-500"></i>
                        </div>
                    </div>
                    <p class="text-2xl font-bold text-green-700">{{ val|intcomma }}</p>
                </div>
            </div>
            {% endfor %}

            <!-- TOTAL RECEIVABLE -->
            <div class="card bg-green-50 shadow border-2 border-green-200 hover:bg-green-100">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex justify-between items-center">
                        <div class="flex"><i class="fa-solid fa-circle-info cursor-pointer text-success text-lg mr-2" title="This represents the total receivable cash expected to be paid from all sales."></i><p class="text-sm uppercase text-gray-400">Total Receivables</p></div>
                        <div class="flex p-2 rounded-full bg-green-100">
                            <i class="fa-solid fa-coins text-2xl text-green-500"></i>
                        </div>
                    </div>
                    <p class="text-2xl font-bold text-green-700">
                        Ksh. {{ total_receivable|intcomma }}
                    </p>
                </div>
            </div>

            <!-- RAR -->
            <div class="card bg-green-50 shadow border-2 border-green-200 hover:bg-green-100">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex justify-between items-center">
                        <div class="flex"><i class="fa-solid fa-circle-info cursor-pointer text-success text-lg mr-2" title="This represents the total cash that is at risk of defaulting."></i><p class="text-sm uppercase text-gray-400">Receivables At Risk(RAR)</p></div>
                        <div class="flex p-2 rounded-full bg-green-100">
                            <i class="fa-solid fa-exclamation-circle text-2xl text-green-500"></i>
                        </div>
                    </div>
                    <p class="text-2xl font-bold text-green-700">
                        Ksh. {{ receivable_at_risk|intcomma }}
                    </p>
                </div>
            </div>

            <!-- CHURN -->
            <div class="card bg-green-50 shadow border-2 border-green-200 hover:bg-green-100">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex justify-between items-center">
                        <div class="flex"><i class="fa-solid fa-circle-info cursor-pointer text-success text-lg mr-2" title="This represent the percentage of sales that are behind on payments."></i><p class="text-sm uppercase text-gray-400">Delinquency Rate</p></div>
                        <div class="flex p-2 rounded-full bg-green-100">
                            <i class="fa-solid fa-user-slash text-2xl text-green-500"></i>
                        </div>
                    </div>
                    <p class="text-2xl font-bold text-green-700">
                        {{ churn_rate|floatformat:1 }}%
                    </p>
                </div>
            </div>

            <!-- MOM GROWTH 
            <div class="card bg-green-50 shadow border-2 border-green-200 hover:bg-green-100">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex justify-between items-center">
                        <p class="text-sm uppercase text-gray-400">Month On Month Growth</p>
                        <div class="flex p-2 rounded-full bg-green-100">
                            <i class="fa-solid fa-chart-line text-2xl text-green-500"></i>
                        </div>
                    </div>
                    <p class="text-2xl font-bold text-green-700">
                        {{ mom_growth|floatformat:1 }}%
                    </p>
                </div>
            </div> -->

            <!-- COLLECTION RATE -->
            <div class="card bg-green-50 shadow border-2 border-green-200 hover:bg-green-100">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex justify-between items-center">
                        <div class="flex"><i class="fa-solid fa-circle-info cursor-pointer text-success text-lg mr-2" title="This represents the percentage of money successfully collected from the sales."></i><p class="text-sm uppercase text-gray-400">Collection Rate</p></div>
                        <div class="flex p-2 rounded-full bg-green-100">
                            <i class="fa-solid fa-hand-holding-dollar text-2xl text-green-500"></i>
                        </div>
                    </div>
                    <p class="text-2xl font-bold text-green-700">
                        {{ collection_rate|floatformat:1 }}%
                    </p>
                </div>
            </div>

        </div>

        <form class="flex flex-wrap gap-2 mb-4 mt-6">

            <input type="text" name="q" value="{{ search_query }}"
                placeholder="Search serial or customer"
                class="input input-success" />

            <select name="status" class="select select-success">
                <option value="">All Paygo Status</option>
                <option value="fully_paid" {% if status_filter == "fully_paid" %}selected{% endif %}>Fully Paid</option>
                <option value="on_track" {% if status_filter == "on_track" %}selected{% endif %}>On Track</option>
                <option value="at_risk" {% if status_filter == "at_risk" %}selected{% endif %}>At Risk</option>
                <option value="overdue" {% if status_filter == "overdue" %}selected{% endif %}>Overdue</option>
            </select>

            <select name="mode" class="select select-success">
                <option value="">All Auto Options</option>
                <option value="auto" {% if mode == "auto" %}selected{% endif %}>Auto On</option>
                <option value="noauto" {% if mode == "noauto" %}selected{% endif %}>Auto Off</option>
            </select>

            <select name="metered" class="select select-success">
                <option value="">All Paygo Sales</option>
                <option value="yes" {% if metered_filter == "yes" %}selected{% endif %}>Metered</option>
                <option value="no" {% if metered_filter == "no" %}selected{% endif %}>Not Metered</option>
            </select>

            <button class="btn btn-success text-white"><i class="fa-solid fa-magnifying-glass"></i>Filter</button>

            {% if search_query or status_filter or mode or metered_filter != "" %}
                <a class="btn btn-error text-white flex items-center gap-1"
                   href="{% url 'paygo_sales' %}">
                        <i class="fa fa-times"></i> Reset
                </a>

            {% endif %}
        </form>

        <div class="text-sm text-gray-500 mb-3">
            Showing
            <span class="font-semibold text-success">
            {{ total_results }}
            </span>
            result{{ total_results|pluralize }}
        </div>

        <table class="table">
            <thead class="bg-success text-success-content text-sm uppercase tracking-wide">
                <tr>
                    <th class="px-4 py-3 text-left text-white rounded-tl-lg"><a href="?sort=serial&q={{ search_query }}&status={{ status_filter }}&mode={{ mode }}&metered={{ metered_filter }}&dir={{ next_dirs.serial }}">
                        {% if current_sort == "serial" %}
                            {% if current_dir == "asc" %}
                                <i class="fa-solid fa-sort-up"></i>
                            {% else %}
                                <i class="fa-solid fa-sort-down"></i>
                            {% endif %}
                        {% endif %}
                        Serial</a></th>
                    <th class="px-4 py-3 text-center text-white"><a href="?sort=customer&q={{ search_query }}&status={{ status_filter }}&mode={{ mode }}&metered={{ metered_filter }}&dir={{ next_dirs.customer }}">
                        {% if current_sort == "customer" %}
                            {% if current_dir == "asc" %}
                                <i class="fa-solid fa-sort-up"></i>
                            {% else %}
                                <i class="fa-solid fa-sort-down"></i>
                            {% endif %}
                        {% endif %}
                        Customer</a></th>
                    <th class="px-4 py-3 text-center text-white"><a href="?sort=paid&q={{ search_query }}&status={{ status_filter }}&mode={{ mode }}&metered={{ metered_filter }}&dir={{ next_dirs.paid }}">
                        {% if current_sort == "paid" %}
                            {% if current_dir == "asc" %}
                                <i class="fa-solid fa-sort-up"></i>
                            {% else %}
                                <i class="fa-solid fa-sort-down"></i>
                            {% endif %}
                        {% endif %}
                        Paid</a></th>

                    <th class="px-4 py-3 text-center text-white"><a href="?sort=paygo_balance&q={{ search_query }}&status={{ status_filter }}&mode={{ mode }}&metered={{ metered_filter }}&dir={{ next_dirs.paygo_balance }}">
                        {% if current_sort == "paygo_balance" %}
                            {% if current_dir == "asc" %}
                                <i class="fa-solid fa-sort-up"></i>
                            {% else %}
                                <i class="fa-solid fa-sort-down"></i>
                            {% endif %}
                        {% endif %}
                        Paygo Balance</a></th>
                    <th class="px-4 py-3 text-center text-white"><a href="?sort=balance&q={{ search_query }}&status={{ status_filter }}&mode={{ mode }}&metered={{ metered_filter }}&dir={{ next_dirs.balance }}">
                        {% if current_sort == "balance" %}
                            {% if current_dir == "asc" %}
                                <i class="fa-solid fa-sort-up"></i>
                            {% else %}
                                <i class="fa-solid fa-sort-down"></i>
                            {% endif %}
                        {% endif %}
                        Balance</a></th>
                    <th class="px-4 py-3 text-center text-white">Schedule</th>
                    <th class="px-4 py-3 text-center text-white">Status</th>
                    <th class="px-4 py-3 text-center text-white">Device</th>
                    <th class="px-4 py-3 text-center text-white">Auto</th>
                    <th class="px-4 py-3 text-center text-white rounded-tr-lg">Action</th>
                </tr>
            </thead>

        <tbody>
            {% for row in page_obj %}

            <!-- MAIN ROW -->
            <tr class="h-20">

                <td>
                    <a class="underline hover:text-success"
                    href="{% url 'sale_detail' row.sale.id %}"
                    title="Click to see the sale details for device {{ row.serial }}"
                    >
                    {{ row.serial }}
                    </a>
                </td>

                <td class="text-center">
                    <a class="underline hover:text-success"
                    href="{% url 'customer_detail' row.sale.customer.id %}"
                    title="Click to see {{ row.customer }}'s customer details"
                    >
                    {{ row.customer }}
                    </a>
                </td>

                <!-- PAID + BUTTON -->
                <td class="text-center">
                    <div class="flex items-center justify-center gap-2">

                        <span>{{ row.total_paid|intcomma }}</span>

                        {% if row.total_paid > 0 %}
                        <button
                            class="btn btn-xs btn-outline btn-success hover:text-white"
                            onclick="toggleTxn('{{ row.sale.id }}')"
                            id="payments-btn-{{ row.sale.id }}"
                        >
                            Show Payments
                        </button>
                        {% endif %}

                    </div>
                </td>

                <td class="text-center">{{ row.paygo_balance|intcomma }}</td>
                <td class="text-center">{{ row.balance|intcomma }}</td>
                <td class="text-center">{{ row.schedule }}</td>

                <!-- STATUS -->
                <td class="text-center">
                    <span class="badge text-white uppercase
                    {% if row.color == 'green' %}badge-success
                    {% elif row.color == 'orange' %}badge-warning
                    {% elif row.color == 'red' %}badge-error
                    {% else %}badge-info{% endif %}">
                        {{ row.status_label }}
                    </span>
                </td>

                <!-- DEVICE -->
                <td class="text-center">
                    {% if row.metered %}
                        {% if row.device_active %}
                            <span class="badge badge-success text-white">ACTIVE</span>
                        {% else %}
                            <span class="badge badge-error text-white">INACTIVE</span>
                        {% endif %}
                    {% else %}
                        <span class="text-gray-400">N/A</span>
                    {% endif %}
                </td>

                <!-- AUTO -->
                <td class="text-center">
                    {% if row.metered %}
                        <span class="badge {% if row.auto_disable %}badge-success{% else %}badge-error{% endif %} text-white">
                            {{ row.auto_disable|yesno:"ON,OFF" }}
                        </span>
                    {% else %}
                        <span class="text-gray-400">N/A</span>
                    {% endif %}
                </td>

                <!-- ACTION -->
                <td class="text-center">
                    <div class="flex flex-col items-center justify-center gap-1 min-h-17.5">

                        {% if row.metered %}
                            <span class="text-xs text-gray-500">Auto Shutoff</span>

                            <form action="{% url 'toggle_auto_paygo' row.sale.id %}" method="POST">
                                {% csrf_token %}
                                <input 
                                    type="checkbox" 
                                    class="toggle toggle-sm {% if row.auto_disable %}toggle-error{% else %}toggle-success{% endif %}"
                                    {% if row.auto_disable %}checked{% endif %}
                                    onchange="
                                        if(confirm('Toggle auto shutoff?')) {
                                            this.form.submit();
                                        } else {
                                            this.checked = !this.checked;
                                        }
                                    "
                                />
                            </form>

                            <span class="text-xs font-semibold 
                                {% if row.auto_disable %}text-red-500{% else %}text-green-500{% endif %}">
                                {{ row.auto_disable|yesno:"Enabled,Disabled" }}
                            </span>

                        {% else %}
                            <span class="text-xs text-gray-400">Auto Shutoff</span>
                            <span class="text-gray-400 text-sm">—</span>
                            <span class="text-xs text-gray-400">Not Metered</span>
                        {% endif %}

                    </div>
                </td>

            </tr>

            <!-- EXPANDABLE ROW -->
            <tr id="txn-{{ row.sale.id }}" class="hidden bg-base-200">
                <td colspan="10" class="p-4">

                    {% if row.transactions %}
                    <div class="card bg-base-300 overflow-x-auto">

                        <table class="table table-xs">
                            <thead class="bg-orange-400 text-success-content text-sm uppercase tracking-wide">
                                <tr class="text-xs text-gray-500 uppercase">
                                    <th class="px-4 py-3 text-white rounded-tl-md">Date</th>
                                    <th class="px-4 py-3 text-white">Transaction ID</th>
                                    <th class="px-4 py-3 text-white">Amount</th>
                                    <th class="px-4 py-3 text-white rounded-tr-md">Reference</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for txn in row.transactions %}
                                <tr>
                                    <td class="px-4 py-3">{{ txn.time|date:"j M Y h:i:s A" }}</td>
                                    <td class="px-4 py-3">{{ txn.txn_id }}</td>
                                    <td class="px-4 py-3">{{ txn.amount|intcomma }}</td>
                                    <td class="px-4 py-3">{{ txn.ref }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    {% else %}
                        <p class="text-gray-400 text-sm text-center">No transactions found</p>
                    {% endif %}

                </td>
            </tr>

            {% endfor %}
        </tbody>

        </table>

        {% if page_obj.has_other_pages %}
        <div class="flex justify-between mt-4">

            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&q={{ search_query }}&status={{ status_filter }}&sort={{ current_sort }}&dir={{ current_dir }}&mode={{ mode }}&metered={{ metered_filter }}"
                class="btn btn-soft btn-accent hover:text-white">
                    <i class="fa-solid fa-backward-step"></i> Previous
                </a>
            {% else %}
                <span class="btn btn-disabled">Previous</span>
            {% endif %}

            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ search_query }}&status={{ status_filter }}&sort={{ current_sort }}&dir={{ current_dir }}&mode={{ mode }}&metered={{ metered_filter }}"
                class="btn btn-soft btn-success hover:text-white">
                    Next <i class="fa-solid fa-forward-step"></i>
                </a>
            {% else %}
                <span class="btn btn-disabled">Next</span>
            {% endif %}

        </div>
        {% endif %}

    </div>

</div>

<script>
function toggleTxn(id) {
    const row = document.getElementById("txn-" + id);
    const paymentbtn = document.getElementById("payments-btn-" + id); 

    if (row.classList.contains("hidden")) {
        row.classList.remove("hidden");
        // Change text when showing the row
        paymentbtn.innerText = "Hide Payments";
    } else {
        row.classList.add("hidden");
        // Change text when hiding the row
        paymentbtn.innerText = "Show Payments";
    }
}
</script>

{% endblock %}