{% load dict_extras %}
<div id="sales-table" class="relative mb-4">

    <!-- HTMX LOADER -->
    <div id="htmx-loading"
         class="absolute inset-0 bg-base-200/50 flex items-center justify-center
                z-10 pointer-events-none opacity-0 transition-opacity
                htmx-indicator">
        <span class="loading loading-spinner loading-lg text-success"></span>
    </div>

    <!-- SEARCH BAR -->
    <form
        class="mb-4 flex flex-wrap items-center gap-2"
        hx-get="{% url 'sales_page' %}"
        hx-target="#sales-table"
        hx-push-url="true"
        hx-indicator="#htmx-loading"
    >
        <input
            type="text"
            name="q"
            value="{{ search_query }}"
            placeholder="Search serial, product, rep..."
            class="input input-bordered flex-1 min-w-50"
        >
        <button class="btn btn-success text-white">
            <i class="fa fa-search"></i> Search
        </button>

        {% if search_query %}
        <a
            hx-get="{% url 'sales_page' %}"
            hx-target="#sales-table"
            hx-push-url="true"
            hx-indicator="#htmx-loading"
            class="btn btn-error text-white"
        >
           <i class="fa fa-times"></i> Clear
        </a>
        {% endif %}
    </form>

    <!-- Table -->
    <div class="bg-base-100 rounded-lg shadow-sm overflow-x-auto">
        <table class="table w-full">
            <thead class="bg-success text-success-content text-sm uppercase">
                <tr>
                    {% for field, label in fields %}
                    <th class="px-4 py-3 text-left text-white">
                        <a
                            hx-get="{% url 'sales_page' %}?sort={{ field }}&dir={{ next_dirs|get_item:field }}&q={{ search_query }}"
                            hx-target="#sales-table"
                            hx-push-url="true"
                            hx-indicator="#htmx-loading"
                            class="flex items-center gap-1 cursor-pointer"
                            title="Click to sort by {{ label }}"
                        >
                            {{ label }}
                            {% if current_sort == field %}
                                {% if current_dir == "asc" %}
                                    <i class="fa-solid fa-sort-up"></i>
                                {% else %}
                                    <i class="fa-solid fa-sort-down"></i>
                                {% endif %}
                            {% endif %}
                        </a>
                    </th>
                    {% endfor %}
                    <th class="px-4 py-3 text-center text-white">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for sale in page_obj %}
                <tr>
                    <td>{{ sale.date|date:"j M Y h:i:s A" }}</td>
                    <td>{{ sale.product_serial_number }}</td>
                    <td>{{ sale.product_name }}</td>
                    <td>{{ sale.sales_rep }}</td>
                    <td>{% if sale.customer %} {{ sale.customer.name }} {% else %} - {% endif %} </td>
                    <td class="flex flex-row gap-2 justify-center">
                        <a href="{% url 'sale_detail' sale.id %}"
                        class="btn btn-primary btn-sm text-white" title="View {{ sale.product_serial_number }}'s data">
                           View <i class="fa-solid fa-binoculars"></i>
                        </a>
                        <a href="{% url 'sale_update' sale.id %}"
                            class="btn btn-accent btn-sm text-white" title="Edit {{ sale.product_serial_number }}'s data">
                            <i class="fa-solid fa-user-pen"></i> Edit
                        </a>

                        <button
                            onclick="confirmDelete({{ sale.id }})"
                            title="Delete {{ sale.product_serial_number }}'s data"
                            class="btn btn-error btn-sm text-white">
                            <i class="fas fa-trash"></i> Delete
                        </button>

                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center py-6">No sales found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
    <div class="flex justify-between mt-4">
        {% if page_obj.has_previous %}
        <a
            hx-get="{% url 'sales_page' %}?page={{ page_obj.previous_page_number }}&q={{ search_query }}&sort={{ current_sort }}&dir={{ current_dir }}"
            hx-target="#sales-table"
            hx-push-url="true"
            hx-indicator="#htmx-loading"
            class="btn btn-soft btn-accent cursor-pointer hover:text-white"
        ><i class="fa-solid fa-backward-step"></i> Previous</a>
        {% else %}
        <span class="btn btn-disabled">Previous</span>
        {% endif %}

        <span class="font-medium">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a
            hx-get="{% url 'sales_page' %}?page={{ page_obj.next_page_number }}&q={{ search_query }}&sort={{ current_sort }}&dir={{ current_dir }}"
            hx-target="#sales-table"
            hx-indicator="#htmx-loading"
            hx-push-url="true"
            class="btn btn-soft btn-success cursor-pointer hover:text-white"
        >Next <i class="fa-solid fa-forward-step"></i></a>
        {% else %}
        <span class="btn btn-disabled">Next</span>
        {% endif %}
    </div>
    {% endif %}
</div>

<script>
function confirmDelete(id) {
    Swal.fire({
        title: "Delete Sale?",
        text: "This action cannot be undone",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#dc2626",
        confirmButtonText: "Yes, delete",
        customClass: {
            confirmButton: "swal-confirm-btn",
            cancelButton: "swal-cancel-btn"
        }
    }).then((result) => {
        if (result.isConfirmed) {
            fetch(`/sales/${id}/delete/`, {
                method: "POST",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                }
            }).then(() => window.location.reload())
        }
    })
}
function getCSRFToken() {
    return document.querySelector('[name=csrfmiddlewaretoken]')?.value
        || document.cookie
            .split('; ')
            .find(row => row.startsWith('csrftoken='))
            ?.split('=')[1];
}
</script>
<style>
/* Customizing the SweetAlert buttons */
.swal-confirm-btn {
    background-color: #28a745 !important;
    color: white !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
}

.swal-cancel-btn {
    background-color: #dc3545 !important;
    color: white !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
}

.swal-text {
    font-size: 16px !important;
    color: #333 !important;
    font-family: "Poppins", sans-serif !important;
}

.swal-title {
    font-size: 20px !important;
    font-weight: bold !important;
    color: #444 !important;
    font-family: "Poppins", sans-serif !important;
}
</style>
