{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
  Powerpay Africa | Devices
{% endblock %}
{% block content %}

{% include "partials/navbar.html" %}

<div class="flex min-h-screen bg-base-200">

    <!-- Sidebar -->
    {% include "partials/sidebar.html" %}

    <!-- Main Content -->
    <div id="page-content"
     class="px-4 py-2 w-full overflow-x-auto transition-all duration-300
            lg:ml-64 ml-0">

        <h2 class="text-2xl font-bold mb-4">Devices</h2>

        {% if can_manage_devices or is_superuser %}
        <div class="flex flex-wrap justify-end gap-2 w-full mb-4">
                <a href="{% url 'devices:testing_batch_create' %}" class="btn btn-info text-white">
                    <i class="fa-solid fa-plus"></i>
                    Create Test Batch
                </a>
                <a href="{% url 'devices:device_bulk_create' %}"
                class="btn btn-warning text-white">
                    <i class="fa-solid fa-layer-group"></i> Bulk Add Devices
                </a>
                <a href="{% url 'devices:device_create' %}"
                class="btn btn-success text-white">
                    <i class="fa-solid fa-plug-circle-plus"></i> Add Device
                </a>
        </div>
        {% endif %}


        <!-- Summary Cards -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">

            <div class="card bg-base-100 shadow border-2 border-success">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex"><p class="text-sm uppercase">Total Devices</p><div class="flex p-2 items-center justify-center rounded-full bg-base-100"><i class="fa-solid fa-plug text-2xl text-success"></i></div></div>
                        <p class="text-2xl font-bold text-success">{{ total_devices|intcomma }} </p>
                </div>
            </div>

            <div class="card bg-base-100 shadow border-2 border-success">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex"><p class="text-sm uppercase">Active Devices</p><div class="flex p-2 items-center justify-center rounded-full bg-base-100"><i class="fa-solid fa-plug-circle-check text-2xl text-success"></i></div></div>
                        <p class="text-2xl font-bold text-success">{{ active_devices|intcomma }} </p>
                </div>
            </div>

            <div class="card bg-base-100 shadow border-2 border-success">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex"><p class="text-sm uppercase">Inactive Devices</p><div class="flex p-2 items-center justify-center rounded-full bg-base-100"><i class="fa-solid fa-plug-circle-xmark text-2xl text-success"></i></div></div>
                        <p class="text-2xl font-bold text-success">{{ inactive_devices|intcomma }} </p>
                </div>
            </div>


        </div>

        {% include "partials/devices_table.html" %}

    </div>
</div>

<div id="simModal" class="hidden fixed inset-0 z-[100] flex items-center justify-center transition-all duration-200 backdrop-blur-sm bg-black/20">
    <div class="bg-base-100 rounded-2xl p-6 w-full max-w-sm shadow-2xl border border-base-200 animate-in fade-in zoom-in duration-200">

        <h2 class="text-lg font-bold mb-3">SIM Balance</h2>

        <div id="simContent" class="text-sm">
            Loading...
        </div>

        <button
            onclick="document.getElementById('simModal').classList.add('hidden')"
            class="btn btn-sm btn-error mt-4 text-white flex justify-end"
        >
            Close
        </button>

    </div>
</div>

<script>
function checkSimBalance(msisdn) {
    if (!msisdn) {
        alert("No MSISDN available");
        return;
    }

    // show modal
    document.getElementById("simModal").classList.remove("hidden");
    document.getElementById("simContent").innerHTML = "Requesting...";

    
    let tries = 0;

    const interval = setInterval(async () => {
        tries++;
        const normalized = msisdn.startsWith('+') ? msisdn : '+' + msisdn;
        const res = await fetch(`/devices/sim/result/?msisdn=${encodeURIComponent(normalized)}`);
        const data = await res.json();

        if (data.found) {
            clearInterval(interval);

            document.getElementById("simContent").innerHTML = `
                <b>MSISDN:</b> ${msisdn}<br><br>
                Airtime: ${data.airtime}<br>
                Data: ${data.data}<br>
                SMS: ${data.sms}
            `;
        }

        if (tries > 10) {
            clearInterval(interval);
            fetch(`/devices/sim/check/?msisdn=${msisdn}`);
            document.getElementById("simContent").innerHTML =
                "The request has been made. Kindly check back in a few minutes for the result.";
        }

    }, 1000);
}
</script>
{% endblock %}
