{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

{% include "partials/navbar.html" %}

<div class="flex min-h-screen bg-base-200">

    <!-- Sidebar -->
    {% include "partials/sidebar.html" %}

    <!-- Main Content -->
    <div id="page-content"
     class="px-4 py-2 w-full overflow-x-auto transition-all duration-300
            lg:ml-64 ml-0">

        <h2 class="text-2xl font-bold mb-4">Devices</h2>

        {% if is_superuser %}
        <div class="flex justify-end w-full mb-4">
                <a href="{% url 'device_create' %}"
                class="btn btn-success text-white">
                    <i class="fa-solid fa-plug-circle-plus"></i> Add Device
                </a>
        </div>
        {% endif %}


        <!-- Summary Cards -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">

            <div class="card bg-green-50 shadow border-2 border-green-200 hover:bg-green-100">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex"><p class="text-sm uppercase text-gray-400">Total Devices</p><div class="flex p-2 items-center justify-center rounded-full bg-green-100"><i class="fa-solid fa-plug text-2xl text-green-500"></i></div></div>
                        <p class="text-2xl font-bold text-gray-700">{{ total_devices|intcomma }} </p>
                </div>
            </div>

            <div class="card bg-green-50 shadow border-2 border-green-200 hover:bg-green-100">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex"><p class="text-sm uppercase text-gray-400">Active Devices</p><div class="flex p-2 items-center justify-center rounded-full bg-green-100"><i class="fa-solid fa-plug-circle-check text-2xl text-green-500"></i></div></div>
                        <p class="text-2xl font-bold text-gray-700">{{ active_devices|intcomma }} </p>
                </div>
            </div>

            <div class="card bg-green-50 shadow border-2 border-green-200 hover:bg-green-100">
                <div class="card-body flex flex-col justify-center">
                    <div class="flex"><p class="text-sm uppercase text-gray-400">Inactive Devices</p><div class="flex p-2 items-center justify-center rounded-full bg-green-100"><i class="fa-solid fa-plug-circle-xmark text-2xl text-green-500"></i></div></div>
                        <p class="text-2xl font-bold text-gray-700">{{ inactive_devices|intcomma }} </p>
                </div>
            </div>


        </div>

        {% include "partials/devices_table.html" %}

    </div>
</div>
{% endblock %}
