{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mx-auto mt-2 lg:p-12">
    <h2 class="text-2xl font-bold mb-4">Devices</h2>

    <!-- Summary Cards -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">

        <!-- Total Devices -->
        <div class="card bg-base-100 shadow-lg border-l-4 border-primary">
            <div class="card-body">
                <h3 class="text-sm font-semibold text-gray-500 uppercase">
                    Total Devices
                </h3>
                <p class="text-3xl font-bold text-primary">
                    {{ total_devices }}
                </p>
            </div>
        </div>

        <!-- Active Devices -->
        <div class="card bg-base-100 shadow-lg border-l-4 border-success">
            <div class="card-body">
                <h3 class="text-sm font-semibold text-gray-500 uppercase">
                    Devices ON
                </h3>
                <p class="text-3xl font-bold text-success">
                    {{ active_devices }}
                </p>
            </div>
        </div>

        <!-- Inactive Devices -->
        <div class="card bg-base-100 shadow-lg border-l-4 border-error">
            <div class="card-body">
                <h3 class="text-sm font-semibold text-gray-500 uppercase">
                    Devices OFF
                </h3>
                <p class="text-3xl font-bold text-error">
                    {{ inactive_devices }}
                </p>
            </div>
        </div>

    </div>


    <table class="table w-full shadow-lg ">
        <thead class="bg-green-600 text-white">
            <tr>
                <th class="px-4 py-3 text-left rounded-tl-lg">Device ID</th>
                <th class="px-4 py-3 text-left">Status</th>
                <th class="px-4 py-3 text-left">Last Seen</th>
                <th class="px-4 py-3 text-left">kWh Today</th>
                <th class="px-4 py-3 text-left rounded-tr-lg">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in device_stats %}
                {% include "partials/device-row.html" with deviceid=stat.device.deviceid active=stat.device.active last_seen=stat.last_seen kwh_today=stat.kwh_today %}
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No devices found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination controls -->
    {% if page_obj.has_other_pages %}
    <div class="flex justify-between mt-4">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-soft btn-accent hover:text-white"><i class="fa-solid fa-backward-step mr-2"></i>Previous</a>
        {% else %}
            <span class="btn btn-outline btn-disabled">Previous</span>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-soft btn-success hover:text-white">Next<i class="fa-solid fa-forward-step ml-2"></i></a>
        {% else %}
            <span class="btn btn-outline btn-disabled">Next</span>
        {% endif %}
    </div>
    {% endif %}
</div>


{% endblock %}
