{% load humanize %}
{% load dict_extras %}
<div class="bg-base-100 shadow rounded-lg p-4">

    <!-- HTMX LOADER -->
    <div id="htmx-loading"
         class="absolute inset-0 bg-base-200/50 flex items-center justify-center
                z-10 pointer-events-none opacity-0 transition-opacity
                htmx-indicator">
        <span class="loading loading-spinner loading-lg text-success"></span>
    </div>

    <!-- SEARCH -->
    <form
        hx-get="{% url 'customers:customer_detail' customer.id %}"
        hx-target="#customer-sales-table"
        hx-indicator="#htmx-loading"
        hx-push-url="true"
        class="flex items-center gap-2 mb-4"
    >
        <input
            type="text"
            name="q"
            value="{{ search_query }}"
            placeholder="Search serial, product, rep..."
            class="input input-bordered flex-1 min-w-50"
        >
        <button class="btn btn-success text-white">
            <i class="fa fa-search"></i> Search
        </button>
        {% if search_query %}
        <a
            hx-get="{% url 'customers:customer_detail' customer.id %}"
            hx-target="#customer-sales-table"
            hx-push-url="true"
            hx-indicator="#htmx-loading"
            class="btn btn-error text-white"
        >
           <i class="fa fa-times"></i> Clear
        </a>
        {% endif %}
    </form>



    <!-- TABLE -->
    <div class="overflow-x-auto">
        <table class="table table-sm bg-base-300">
            <thead>
                <tr class="text-white bg-success">
                    {% for field, label in fields %}
                        <th>
                            <a
                                hx-get="?sort={{ field }}&dir={{ next_dirs|get_item:field }}&q={{ search_query }}"
                                hx-target="#customer-sales-table"
                                hx-push-url="true"
                                hx-indicator="#htmx-loading"
                                class="flex items-center gap-1 cursor-pointer"
                            >
                                {{ label }}
                                {% if current_sort == field %}
                                    {% if current_dir == 'desc' %}
                                        <i class="fa-solid fa-sort-down"></i>
                                    {% else %}
                                        <i class="fa-solid fa-sort-up"></i>
                                    {% endif %}   
                                {% endif %}
                            </a>
                        </th>
                    {% endfor %}
                    <th class="text-center">Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for sale in page_obj %}
                    <tr>
                        <td>{{ sale.date|date:"Y-m-d" }}</td>
                        <td>{{ sale.product_name }}</td>
                        <td class="font-mono text-xs">
                            {{ sale.product_serial_number }}
                        </td>
                        <td>{{ sale.sales_rep|default:"—" }}</td>
                        <td class="text-center">
                            <a
                                href="{% url 'sales:sale_detail' sale.id %}"
                                    class="btn btn-primary text-white" title="{{ sale.customer.name|truncatewords:1|slice:"-2" }}'s sale">
                            View <i class="fa-solid fa-binoculars"></i>
                            </a>
                            
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center text-gray-400 py-4">
                            No sales found for this customer
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    {% if page_obj.has_other_pages %}
    <div class="flex justify-between mt-4">
        {% if page_obj.has_previous %}
        <a
            hx-get="{% url 'customers:customer_detail' customer.id %}?page={{ page_obj.previous_page_number }}&q={{ search_query }}&sort={{ current_sort }}&dir={{ current_dir }}"
            hx-target="#sales-table"
            hx-push-url="true"
            hx-indicator="#htmx-loading"
            class="btn btn-soft btn-accent cursor-pointer hover:text-white"
        ><i class="fa-solid fa-backward-step"></i> Previous</a>
        {% else %}
        <span class="btn btn-disabled">Previous</span>
        {% endif %}

        <span class="font-medium">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a
            hx-get="{% url 'customers:customer_detail' customer.id %}?page={{ page_obj.next_page_number }}&q={{ search_query }}&sort={{ current_sort }}&dir={{ current_dir }}"
            hx-target="#sales-table"
            hx-indicator="#htmx-loading"
            hx-push-url="true"
            class="btn btn-soft btn-success cursor-pointer hover:text-white"
        >Next <i class="fa-solid fa-forward-step"></i></a>
        {% else %}
        <span class="btn btn-disabled">Next</span>
        {% endif %}
    </div>
    {% endif %}
</div>
