{% extends "base.html" %}
{% load humanize %}
{% load dict_extras %}

{% block content %}
{% include "partials/navbar.html" %}

<div class="flex min-h-screen bg-base-200">

    {% include "partials/sidebar.html" %}

    <div id="page-content"
     class="px-4 py-2 w-full overflow-x-auto transition-all duration-300
            lg:ml-64 ml-0">

        <h2 class="text-2xl font-bold mb-6">Sales</h2>

        <div class="flex justify-end w-full mb-4">
                <a href="{% url 'sales:sale_create' %}"
                class="btn btn-success text-white">
                    <i class="fa-solid fa-person-circle-plus"></i> Add Sale
                </a>
        </div>

        <!-- STATS -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">

            <div class="card bg-base-100 shadow border-2 border-success">
                    <div class="card-body flex flex-col justify-center">
                        <div class="flex"><p class="text-sm uppercase">Total Sales</p><div class="flex p-2 items-center justify-center rounded-full bg-base-100"><i class="fa-solid fa-cash-register text-2xl text-success"></i></div></div>
                        <p class="text-2xl font-bold text-green-700">{{ total_sales|intcomma }}</p>
                    </div>
            </div>

            <div class="card bg-base-100 shadow border-2 border-success">
                    <div class="card-body flex flex-col justify-center">
                        <div class="flex"><p class="text-sm uppercase">Paygo Sales</p><div class="flex p-2 items-center justify-center rounded-full bg-base-100"><i class="fa-solid fa-calendar-day text-2xl text-success"></i></div></div>
                        <p class="text-2xl font-bold text-green-700">{{ total_paygo|intcomma }}</p>
                    </div>
            </div>
            
        </div>

        <!-- CHARTS -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">

            <div id="salesPurchaseMode" class="card bg-base-100 border-2 border-success p-4 rounded-lg shadow flex-col">
                <div class="flex justify-between items-center mb-2 border-none outline-none">
                    <h3 class="text-lg font-semibold border-none outline-none">
                        Sales by Purchase Mode
                    </h3>

                    <!-- This button will NOT appear in download -->
                    <button
                        data-ignore-download
                        onclick="downloadCard('salesPurchaseMode', 'sales-purchase-mode.png')"
                        class="btn btn-sm btn-outline btn-success hover:text-white"
                    >
                        <i class="fas fa-download mr-2"></i>
                        Download
                    </button>
                </div>
                <div class="flex-1 outline-none border-none">
                    <canvas id="salesProductChart" class="border-none outline-none w-full h-full"></canvas>
                </div>
            </div>

            <div id="salesGrowth" class="card bg-base-100 border-2 border-success p-4 rounded-lg shadow flex-col">
                <div class="flex justify-between items-center mb-2 border-none outline-none">
                    <h3 class="text-lg font-semibold border-none outline-none">
                        Sales Growth
                    </h3>

                    <!-- This button will NOT appear in download -->
                    <button
                        data-ignore-download
                        onclick="downloadCard('salesGrowth', 'sales-growth.png')"
                        class="btn btn-sm btn-outline btn-success hover:text-white"
                    >
                        <i class="fas fa-download mr-2"></i>
                        Download
                    </button>
                </div>
                <div class="flex-1 border-none outline-none">
                    <canvas id="salesGrowthChart" class="border-none outline-none w-full h-full"></canvas>
                </div>
            </div>
        </div>


        <!-- SALES TABLE -->
        {% include "partials/sales_table.html" %}

    </div>
</div>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script>
Chart.defaults.font.family = "'Saira', sans-serif";
Chart.defaults.font.size = 12;

const ctxGrowth = document.getElementById("salesGrowthChart");
new Chart(ctxGrowth, {
    type: 'line',
    data: {
        labels: {{ monthly_labels|safe }},
        datasets: [{
            label: 'Sales Count',
            data: {{ monthly_data|safe }},
            fill: true,
            borderColor: 'rgb(34,197,94)',
            backgroundColor: 'rgba(34,197,94,0.2)',
            tension: 0.3,
            pointRadius: 4,
            pointHoverRadius: 6,
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: { 
            legend: { 
                position: 'bottom',
                labels: {
                    usePointStyle: true,
                    pointStyle: 'rectRounded',
                    padding: 20
                }
            },
            tooltip: { mode: 'index', intersect: false, usePointStyle: true }

          }
    }
});

const ctxRep = document.getElementById("salesProductChart");
new Chart(ctxRep, {
    type: 'bar',
    data: {
        labels: {{ rep_labels|safe }},
        datasets: [{
            data: {{ rep_data|safe }},
            backgroundColor: [
                '#3b82f6','#10b981','#f97316','#8b5cf6','#ef4444','#facc15','#0ea5e9'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
                x: {
                    grid: {
                        display: false // Removes vertical lines
                    }
                },
                y: {
                    grid: {
                        display: false // Removes horizontal lines
                    },
                    beginAtZero: true
                }
            },
        plugins: {
            legend: { display: false },
            datalabels: {
                color: '#fff',
                formatter: (value, ctx) => {
                    const sum = ctx.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
                    const percent = ((value/sum)*100).toFixed(1);
                    return value.toLocaleString() + ` (${percent}%)`;
                },
            }
        }
    },
    plugins: [ChartDataLabels]
});
</script>

{% endblock %}
