{% extends "base.html" %}
{% load static %}
{% block title %}
  Powerpay Africa | Accept Invite
{% endblock %}
{% block content %}
<div class="relative flex justify-center items-center min-h-screen overflow-hidden">

  <!-- Animated Floating Shapes 
  <div class="absolute w-64 h-64 bg-green-300 rounded-full opacity-40 animate-bounce -top-32 -left-32"></div>
  <div class="absolute w-72 h-72 bg-orange-300 rounded-full opacity-30 animate-bounce -bottom-36 -right-36"></div>
  <div class="absolute w-48 h-48 bg-green-400 rounded-full opacity-20 animate-bounce top-1/4 right-1/4"></div> -->

  <div class="absolute w-64 h-64 bg-green-300 rounded-full opacity-40 animate-none -top-32 -left-32"></div>
  <div class="absolute w-72 h-72 bg-orange-300 rounded-full opacity-30 animate-none -bottom-36 -right-36"></div>

  <!-- Login Card -->
  <div class="card w-96 bg-white dark:bg-gray-800 rounded-2xl shadow-2xl p-8 transform transition duration-500 z-10">

    <!-- Logo / Image -->
    <div class="flex justify-center mb-4">
      <img src="{% static 'images/powerpaylogo.png' %}" alt="PowerPayShop Logo" class="w-2/3 h-2/3 object-contain">
    </div>

    <!-- Tagline -->
    <p class="text-center text-lg font-bold text-green-700 dark:text-green-400 mb-6">
      Appliances for the next billion
    </p>

  <h2 class="text-center text-lg text-success mb-2">
    <i class="fa-solid fa-hourglass-end"></i>Complete your signup
  </h2>

  <p class="mb-6 text-center text-sm">
    Set a password to activate your account.
  </p>

  <form method="post">
    {% csrf_token %}

    <div class="mb-6">
      <label style="font-size:14px; font-weight:600; color:#374151;">
        Password:
      </label>
      <input type="password"
             name="password"
             required
             class ="input">
    </div>
    <div class="flex justify-center">
        <button type="submit"
                class="btn btn-success text-white">
        <i class="fa-solid fa-person-circle-plus"></i> Create Account
        </button>
    </div>
  </form>

</div>
</div>
{% endblock %}