{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="relative flex justify-center items-center min-h-screen overflow-hidden">

  <div class="absolute w-64 h-64 bg-green-300 rounded-full opacity-40 animate-bounce -top-32 -left-32"></div>
  <div class="absolute w-72 h-72 bg-orange-300 rounded-full opacity-30 animate-bounce -bottom-36 -right-36"></div>

  <div class="card w-96 bg-base-100 rounded-2xl shadow-2xl p-8 z-10">
    <div class="flex justify-center mb-4">
      <img src="{% static 'images/pplogo.png' %}" class="w-1/2">
    </div>

    <h2 class="text-center text-xl font-bold text-success mb-4">
      Reset Your Password
    </h2>

    <p class="text-center mb-6">
      Enter your account email to receive a password reset link.
    </p>

    <form method="POST" class="space-y-5">
        {% csrf_token %}

        <div class="form-control">
            {{ form.email }}
        </div>
        <div class="flex justify-center gap-1">
            <button class="btn bg-success hover:bg-green-700 text-white font-bold w-1/2 shadow-lg  rounded-lg p-1">
               <i class="fa-solid fa-paper-plane"></i> Send Reset Link
            </button>
        </div>
    </form>
  </div>
</div>
{% endblock %}
