{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="bg-base-200 flex justify-center items-center min-h-screen">

  <div class="card w-96 bg-base-100 dark:bg-gray-800 rounded-2xl shadow-xl p-8 z-10">

    <img src="{% static 'images/powerpaylogo.png' %}" class="w-28 mx-auto mb-4">

    <h2 class="text-xl font-bold text-green-700 dark:text-green-400 text-center mb-4">
      Create New Password
    </h2>

    <form method="POST" class="space-y-5">
      {% csrf_token %}
      <div class="form-control">
            <label class="label">
                <span class="label-text font-semibold text-gray-700 dark:text-gray-200">
                    New Password
                </span>
            </label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <p class="text-red-600 text-sm mt-1">
                    {{ form.new_password1.errors.0 }}
                </p>
            {% endif %}
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text font-semibold text-gray-700 dark:text-gray-200">
                    Confirm Password
                </span>
            </label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <p class="text-red-600 text-sm mt-1">
                    {{ form.new_password2.errors.0 }}
                </p>
            {% endif %}
        </div>
      <div class="flex justify-center">
        <button class="btn text-white font-bold w-1/2 shadow-lg hover:from-green-600 hover:to-orange-500 transition rounded-lg p-1">
          <i class="fa-solid fa-user-pen m-1"></i> Reset Password
        </button>
      </div>
    </form>
  </div>

</div>
{% endblock %}
