{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex justify-center items-center min-h-screen">

  <div class="card w-96 bg-white dark:bg-gray-800 rounded-2xl shadow-xl p-8 text-center">
    <img src="{% static 'images/pplogo.png' %}" class="w-32 mx-auto mb-4">

    <h2 class="text-xl font-bold text-green-700 dark:text-green-400 mb-8">Password Reset Successful</h2>

    <a href="{% url 'login' %}" class="btn text-white w-full rounded-lg p-2">
      <i class="fa-solid fa-right-to-bracket"></i> Sign In
    </a>
  </div>

</div>
{% endblock %}
