{% load humanize %}

<div id="devices-table" class="relative">

    <!-- HTMX LOADER -->
    <div id="htmx-loading"
         class="absolute inset-0 bg-base-200/50 flex items-center justify-center
                z-10 pointer-events-none opacity-0 transition-opacity
                htmx-indicator">
        <span class="loading loading-spinner loading-lg text-success"></span>
    </div>

    <!-- SEARCH BAR -->
    <form
        class="mb-4 flex flex-wrap items-center gap-2"
        hx-get="{% url 'devices:device_list' %}"
        hx-target="#devices-table"
        hx-push-url="true"
        hx-indicator="#htmx-loading"
    >

    <input
        type="text"
        name="q"
        value="{{ search_query }}"
        placeholder="Search device ID..."
        class="input input-success min-w-48"
    />

    <!-- STATUS FILTER -->
    <select name="status" class="select select-success select-md">
        <option value="all" {% if status_filter == "all" %}selected{% endif %}>All Status</option>
        <option value="active" {% if status_filter == "active" %}selected{% endif %}>ACTIVE</option>
        <option value="inactive" {% if status_filter == "inactive" %}selected{% endif %}>INACTIVE</option>
    </select>

    <!-- ORGANIZATION FILTER -->
    {% if request.accessible_orgs|length > 1 %}
    <select name="org" class="select select-success select-md">
        <option value="">All Organizations</option>
        {% for org in organizations %}
            <option value="{{ org.id }}" {% if org_filter == org.id %}selected{% endif %}>
                {{ org.name }}
            </option>
        {% endfor %}
    </select>
    {% endif %}

    <button class="btn btn-success text-white">
        <i class="fa fa-search"></i> Filter
    </button>

    {% if search_query or status_filter != "all" or org_filter %}
    <a
        hx-get="{% url 'devices:device_list' %}"
        hx-target="#devices-table"
        hx-push-url="true"
        hx-indicator="#htmx-loading"
        class="btn btn-error text-white"
    >
    <i class="fa fa-times"></i> Reset
    </a>

    <div class="flex justify-end items-center mb-3">

        <div class="text-sm text-gray-500">
            Showing
            <span class="font-semibold text-success">
                {{ total_devices }}
            </span>
            result{{ total_devices|pluralize }}

            {% if search_query %}
                for "<span class="font-medium">{{ search_query }}</span>"
            {% endif %}

            {% if status_filter != "all" %}
                • Status:
                <span class="badge badge-outline">
                    {{ status_filter|upper }}
                </span>
            {% endif %}
        </div>

    </div>
    {% endif %}

    </form>

    <!-- TABLE -->
    <div class="bg-base-100 rounded-lg shadow overflow-x-auto">
        <table class="table">
            <thead class="bg-success text-success-content text-sm uppercase tracking-wide">
                    <tr>
                        <th class="px-4 py-3 text-left text-white rounded-tl-lg">Device ID</th>
                        <th class="px-4 py-3 text-center text-white">Status</th>
                        <th class="px-4 py-3 text-center text-white">Last Seen</th>
                        {% if request.accessible_orgs|length > 1 %}
                        <th class="px-4 py-3 text-center text-white">Organization</th>
                        {% endif %}
                        <th class="px-4 py-3 text-center text-white rounded-tr-lg">Actions</th>
                    </tr>
            </thead>

            <tbody>
                    {% for stat in device_stats %}
                        {% include "partials/device-row.html" with deviceid=stat.device.deviceid active=stat.device.active last_seen=stat.last_seen is_admin=is_admin organization=stat.device.organization %}
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No devices found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

    <!-- PAGINATION -->
    {% if page_obj.has_other_pages %}
    <div class="flex justify-between mt-4">
        {% if page_obj.has_previous %}
            <a
                hx-get="{% url 'devices:device_list' %}?page={{ page_obj.previous_page_number }}&q={{ search_query }}&status={{ status_filter }}&org={{ org_filter }}"
                hx-target="#devices-table"
                hx-push-url="true"
                hx-indicator="#htmx-loading"
                class="btn btn-soft btn-accent hover:text-white"
            ><i class="fa fa-backward-step"></i> Previous</a>
        {% else %}
            <span class="btn btn-disabled">Previous</span>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a
                hx-get="{% url 'devices:device_list' %}?page={{ page_obj.next_page_number }}&q={{ search_query }}&status={{ status_filter }}&org={{ org_filter }}"
                hx-target="#devices-table"
                hx-push-url="true"
                hx-indicator="#htmx-loading"
                class="btn btn-soft btn-success hover:text-white"
            >Next <i class="fa fa-forward-step"></i></a>
        {% else %}
            <span class="btn btn-disabled">Next</span>
        {% endif %}
    </div>
    {% endif %}
</div>
