{% extends "base.html" %}
{% load humanize %}
{% load dict_extras %}
{% block title %}
  Powerpay Africa | Customer Details
{% endblock %}
{% block content %}

{% include "partials/navbar.html" %}

<div class="flex min-h-screen overflow-hidden bg-base-200">

    <!-- Sidebar -->
    {% include "partials/sidebar.html" %}

    <!-- Main Content -->
    <div id="page-content"
     class="px-4 py-2 w-full overflow-x-auto transition-all duration-300
            lg:ml-64 ml-0 space-y-6">

        <!-- HEADER -->
        <div class="flex items-center justify-between">
            <div>
                <h1 class="text-2xl font-bold">
                    {{ customer.name }}
                </h1>
                <p class="text-sm text-gray-500">
                    Customer ID: {{ customer.id }}
                </p>
            </div>

            <a href="{% url 'customers:customers_page' %}"
               class="btn btn-ghost btn-accent hover:text-white">
                <i class="fa-solid fa-backward-step"></i>Back to Customers
            </a>
        </div>

        <!-- STATS -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="card bg-base-100 shadow rounded-lg border-2 border-success">
                <div class="card-body flex flex-col justify-center">
                        <p class="text-sm uppercase">Household Size</p>
                        <p class="text-2xl font-bold text-success">{{ customer.household_size|default:"—" }}</p>
                </div>
            </div>

            <div class="card bg-base-100 shadow rounded-lg border-2 border-success">
                <div class="card-body flex flex-col justify-center">
                        <p class="text-sm uppercase">Location</p>
                        <p class="text-2xl font-bold text-success">
                            {{ customer.location|default:"—" }}    
                        </p>
                </div>
            </div>

            <div class="card bg-base-100 shadow rounded-lg border-2 border-success">
                <div class="card-body flex flex-col justify-center">
                        <p class="text-sm uppercase">Joined</p>
                        <p class="text-2xl font-bold text-success">{{ customer.date|date:"M Y" }} </p>
                </div>
            </div>
        </div>

        <!-- DETAILS CARD -->
        <div class="bg-base-100 shadow rounded-lg p-6">
            <h3 class="font-semibold mb-4">Customer Information</h3>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-sm">

                <div>
                    <span class="text-gray-500">ID Number</span>
                    <div class="font-medium">{{ customer.id_number|default:"—" }}</div>
                </div>

                <div>
                    <span class="text-gray-500">Phone</span>
                    <div class="font-medium">{{ customer.phone_number|default:"—" }}</div>
                </div>

                <div>
                    <span class="text-gray-500">Alternate Phone</span>
                    <div class="font-medium">{{ customer.alternate_phone_number|default:"—" }}</div>
                </div>

                <div>
                    <span class="text-gray-500">Email</span>
                    <div class="font-medium">{{ customer.email|default:"—" }}</div>
                </div>

                <div>
                    <span class="text-gray-500">Gender</span>
                    <div class="font-medium">
                        {% if customer.gender == "F" %}Female
                        {% elif customer.gender == "M" %}Male
                        {% elif customer.gender == "P" %}Prefer not to say
                        {% else %}Other{% endif %}
                    </div>
                </div>

                <div>
                    <span class="text-gray-500">Preferred Language</span>
                    <div class="font-medium">
                        {% if customer.preferred_language == "EN" %}English
                        {% elif customer.preferred_language == "SW" %}Swahili
                        {% elif customer.preferred_language == "NA" %}Native
                        {% else %}-{% endif %}

                    </div>
                </div>

                <div>
                    <span class="text-gray-500">Household Type</span>
                    <div class="font-medium">
                            {% if customer.household_type == "F" %}Female Headed
                            {% elif customer.household_type == "M" %}Male Headed
                            {% elif customer.household_type == "C" %}Child Headed
                            {% elif customer.household_type == "P" %}Prefer not to say
                            {% else %}Other{% endif %}</div>
                </div>

                <div>
                    <span class="text-gray-500">County</span>
                    <div class="font-medium">{{ customer.county|default:"—" }}</div>
                </div>

                <div>
                    <span class="text-gray-500">Sub-County</span>
                    <div class="font-medium">{{ customer.sub_county|default:"—" }}</div>
                </div>

                <div>
                    <span class="text-gray-500">Organization</span>
                    <div class="font-medium">
                        {{ customer.organization.name|default:"—" }}
                    </div>
                </div>

            </div>
        </div>
        <!-- CUSTOMER SALES -->
        <div class="space-y-2">
            <h3 class="text-lg font-semibold">Sales</h3>

            <div id="customer-sales-table" class="relative">
                {% include "partials/customer_sales_table.html" %}
            </div>
        </div>

    </div>
</div>

{% endblock %}
