{% extends "base.html" %}
{% load dict_extras %}
{% load static %}
{% block title %}
  Powerpay Africa | {% if form.instance.pk %} Edit Warehouse {% else %} Add Warehouse {% endif %}
{% endblock %}
{% block content %}
{% include "partials/navbar.html" %}

<div class="flex min-h-screen bg-base-200">
    {% include "partials/sidebar.html" %}

    <div class="px-4 py-2 w-full overflow-x-auto transition-all duration-300
            lg:ml-64 ml-0 space-y-6" id="page-content">

        <div class="mx-auto bg-base-100 shadow rounded-lg p-6 mt-6">

            <h2 class="text-2xl font-bold mb-6">
                {% if form.instance.pk %}
                    Edit Warehouse
                {% else %}
                    Add Warehouse
                {% endif %}
            </h2>

            <form method="POST" class="space-y-4">
                {% csrf_token %}

                <div>
                    <label class="label font-semibold">Name</label>
                    {{ form.name|add_class:"input input-bordered w-full" }}
                </div>

                <div>
                    <label class="label font-semibold">Location</label>
                    {{ form.location|add_class:"input input-bordered w-full" }}
                </div>

                <div>
                    <label class="label font-semibold">Organization</label>
                    {{ form.organization|add_class:"select select-bordered w-full" }}
                </div>

                <div class="flex justify-between mt-6">
                    <a href="{% url 'inventory:warehouses_page' %}" class="btn btn-error text-white">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-success text-white">
                        {% if form.instance.pk %}
                            Update Warehouse
                        {% else %}
                            Create Warehouse
                        {% endif %}
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock %}
