{% load humanize %}
<li id="notif-{{ notification.id }}"
            class="px-4 py-4 rounded-lg shadow-sm transition bg-base-100
                   {% if not notification.is_read %}
                     {% if notification.type == 'info' %} border-l-4 border-info border-r-4
                     {% elif notification.type == 'warning' %} border-l-4 border-warning border-r-4
                     {% elif notification.type == 'error' %} border-l-4 border-error border-r-4
                     {% elif notification.type == 'success' %} border-l-4 border-success border-r-4
                     {% endif %}
                   
                   {% endif %}">
          <div class="flex justify-between items-start gap-4">

            <!-- Left: icon + text -->
            <div class="flex gap-3">
              <div class="mt-1 text-xl">
                {% if notification.type == "info" %}
                  <i class="fa-solid fa-circle-info text-info"></i>
                {% elif notification.type == "warning" %}
                  <i class="fa-solid fa-triangle-exclamation text-warning"></i>
                {% elif notification.type == "error" %}
                  <i class="fa-solid fa-circle-exclamation text-error"></i>
                {% elif notification.type == "success" %}
                  <i class="fa-solid fa-circle-check text-success"></i>
                {% else %}
                  <i class="fa-solid fa-bell text-gray-500"></i>
                {% endif %}
              </div>

              <div>
                <div 
                class='font-semibold
                  {% if notification.type == "info" %}
                    text-info
                  {% elif notification.type == "warning" %}
                    text-warning
                  {% elif notification.type == "error" %}
                    text-error
                  {% elif notification.type == "success" %}
                    text-success
                  {% else %}
                    text-gray-500
                  {% endif %}
                
                '>{{ notification.title }}</div>
                <p class="text-sm mt-1">{{ notification.message }}</p>
                <p class="text-gray-400 text-xs mt-2">{{ notification.created_at|naturaltime }}</p>
              </div>
            </div>

            <!-- Right: action -->
            <div class="flex items-start">
              {% if not notification.is_read %}
              <button
                  class="text-xs px-2 py-1 rounded-full transition bg-base-200 font-medium cursor-pointer
                         {% if notification.type == 'info' %} text-info hover:bg-info hover:text-white
                         {% elif notification.type == 'warning' %} text-warning hover:bg-warning hover:text-white
                         {% elif notification.type == 'error' %} text-info hover:bg-error hover:text-white
                         {% elif notification.type == 'success' %} text-success hover:bg-success hover:text-white
                         {% else %}  hover:bg-gray-100 {% endif %}"
                  hx-post="{% url 'notifications:mark_read_list' notification.id %}"
                  hx-target="#notif-{{ notification.id }}"
                  hx-swap="outerHTML"
                  hx-on:afterRequest="htmx.trigger('#notifCount','refresh')">
                Mark read
              </button>
              {% endif %}
            </div>

          </div>
        </li>